<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Joe Rogan Soundboard</title>
    <link rel="stylesheet" href="./assets/stylesheets/main.css">
</head>

<div>
    <div class="joe-rogan-image-box">
        <img class="joe-rogan-image" src="./assets/images/Joe-Rogan-2.jpg" alt="Joe Rogan">
        <button class = "btn" id="button-wow" type="button">WOW</button>
        <button class = "btn" id="button-jamie" type="button">JAMIE, PULL THAT UP</button>
        <button class = "btn" id="button-fuck-you-money" type="button">FUCK YOU MONEY</button>
        <button class = "btn" id="button-motivational" type="button">RANDOM MOTIVATION</button>
        <button class = "btn" id="button-DMT" type="button">DMT</button>
        <button class = "btn" id="button-MMM" type="button">MMM</button>
        <button class = "btn" id="button-kimchi-and-elk" type="button">KIMCHI & ELK</button>
        <button class = "btn" id="button-when-chimps-attack" type="button">CHIMPS</button>
        <button class = "btn" id="button-huge-balls" type="button">HUGE BALLS</button>
        <button class = "btn" id="button-lazy-pot-smokers" type="button">LAZY POT SMOKERS</button>
        <button class = "btn" id="button-too-high" type="button">TOO HIGH</button>
        <button class = "btn" id="button-jesus-christ-jamie" type="button">JESUS CHRIST JAMIE</button>
        <button class = "btn" id="button-savage-chickens" type="button">SAVAGE CHICKENS</button>
        <button class = "btn" id="button-heat-shock-proteins" type="button">HEAT SHOCK PROTEINS</button>
        <button class = "btn" id="button-sauna" type="button">SAUNA</button>
        <button class = "btn" id="button-immune-system" type="button">IMMUNE SYSTEM</button>
        <button class = "btn" id="button-butthole" type="button">BUTTHOLE</button>
        <button class = "btn" id="button-carnivore-diet" type="button">CARNIVORE DIET</button>
        <button class = "btn" id="button-its-entirely-possible" type="button">IT'S ENTIRELY POSSIBLE</button>
        <button class = "btn" id="button-throat-clear" type="button">THROAT CLEAR</button>
    </div>
</div>

<audio id="sound-wow" src="assets/sounds/wow.wav"></audio>
<audio id="sound-jamie" src="assets/sounds/jamie.wav"></audio>
<audio id="sound-fuck-you-money" src="assets/sounds/fuck-you-money.wav"></audio>
<audio id="sound-MMM" src="assets/sounds/MMM.wav"></audio>
<audio id="sound-kimchi-and-elk" src="assets/sounds/kimchi-and-elk.wav"></audio>
<audio id="sound-when-chimps-attack" src="assets/sounds/when-chimps-attack.wav"></audio>
<audio id="sound-huge-balls" src="assets/sounds/huge-balls.wav"></audio>
<audio id="sound-lazy-pot-smokers" src="assets/sounds/lazy-pot-smokers.wav"></audio>
<audio id="sound-too-high" src="assets/sounds/too-high.wav"></audio>
<audio id="sound-jesus-christ-jamie" src="assets/sounds/jesus-christ-jamie.wav"></audio>
<audio id="sound-savage-chickens" src="assets/sounds/savage-chickens.wav"></audio>
<audio id="sound-heat-shock-proteins" src="assets/sounds/heat-shock-proteins.wav"></audio>
<audio id="sound-sauna" src="assets/sounds/sauna.wav"></audio>
<audio id="sound-immune-system" src="assets/sounds/immune-system.wav"></audio>
<audio id="sound-butthole" src="assets/sounds/butthole.wav"></audio>
<audio id="sound-carnivore-diet" src="assets/sounds/carnivore-diet.wav"></audio>
<audio id="sound-its-entirely-possible" src="assets/sounds/its-entirely-possible.wav"></audio>
<audio id="sound-throat-clear" src="assets/sounds/throat-clear.wav"></audio>
<audio id="sound-you-are-not-your-past" onended="reAddEventListener()"
    src="assets/sounds/you-are-not-your-past.wav"></audio>
<audio id="sound-go-fucking-do-something" onended="reAddEventListener()"
    src="assets/sounds/go-fucking-do-something.wav"></audio>
<audio id="sound-light-darkness" onended="reAddEventListener()" src="assets/sounds/light-darkness.wav"></audio>
<audio id="sound-struggle" onended="reAddEventListener()" src="assets/sounds/struggle.wav"></audio>
<audio id="sound-DMT" onended="reAddEventListener()" src="assets/sounds/DMT.wav"></audio>


<script src="./javascript/main.js"></script>

</html>